<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <p>Welcome {{user.username}}</p>
    <p><a href="/items/add">Add new item</a></p>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Added By</th>
                <th>Actions</th>
                <th>Number of Likes</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="/items/{{item.id}}">{{item.name}}</a></td>
                    <td><a href="/users/{{item.user.id}}">{{item.user.username}}</a></td>
                    <td>
                        {% if session['user_id'] == item.user.id %}
                            <a href="/items/{{item.id}}/update">Edit</a> | <a href="/items/{{item.id}}/delete">Delete</a>
                        {% else %} <!-- We will only allow users to like/unlike items they did not add -->
                            {% if item.liked == 0 %}
                                <a href="/items/{{item.id}}/like">Like</a>
                            {% else %}
                                <a href="/items/{{item.id}}/unlike">Unlike</a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{item.number_of_likes}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/logout">Log out</a></p>
</body>
</html>